*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
}

:root{
  --primary: #BFFF00;
  --secondary: whitesmoke;
  --dark: #008000;
}

.flex{
  display: flex;
}

body{
  font-family: "Heebo", sans-serif;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  width: fit-content;
  height: fit-content;
  border: none;
  outline: none;
  cursor: pointer;
}

ul{
  list-style: none;
}

.menu{
  display: none;
}

.head{
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  box-shadow: 0.001px 0.001px 1px;
  position: static;
  top: 0;
}

.logo{
  margin: auto 0;
}

.logo a{
  font-weight: bold;
  margin: auto 0;
  font-size: 30px;
}

.logo img{
  height: 50px;
}

.head1{
  color: var(--dark);
  font-size: 35px;
  font-weight: bold;
}

.sub{
  color: var(--dark);
  font-size: 30px;
}

.baba{
  display: flex;
  gap: 85px;
  margin: auto 0;
}

.list,
.unlist{
  display: flex;
  gap: 15px;
  margin: auto 0;
  padding: 10px 25px;
  color: var(--dark);
}

.list li:hover,
.unlist li:hover{
  color: var(--primary);
}

.login{
  padding: 10px 30px;
  background: var(--dark);
  width: fit-content;
  height: fit-content;
  color: var(--secondary);
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .3s;
}

.cta{
  color: white;
  background: var(--primary);
  padding: 15px 30px;
}

.login:hover{
  background: var(--primary);
  cursor: pointer;
  color: black;
}

.f-title{
  font-weight: 500;
  font-size: 25px;
  color: var(--dark);
}

.flex1{
  flex: 1;
}

.footer{
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  padding: 100px;
}

.footer-top{
  display: flex;
  justify-content: space-between;
}

.footer-top .cone{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cone ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cone .social{
  flex-direction: row;
  display: flex;
  gap: 30px;
}

.social li{
  height: 30px;
  width: 30px;
  background: var(--primary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.for-copy{
  margin-top: 30px;
}

.for-copy p{
  text-align: right;
  font-size: 12px;
}

@media (max-width: 768px) {
  .head{
    padding: 15px 50px;
  }

  .menu{
    display: flex;
    font-size: 30px;
    margin: auto 0;
  }

  .menu:hover{
    color: var(--primary);
  }

  .list {
    display: flex;
    gap: 5px;
    margin: auto 0;
    border-radius: 35px;
    padding: 100px 0;
    background: var(--secondary);
    position: absolute;
    flex-direction: column;
    border-radius: 0;
    width: 100%;
    left: 0;
    top: 70px;
    transition: .5s ease;
  }

  .list a{
    width: 100%;
    padding: 20px 50px;
  }

  .list a:hover{
    transition: .3s;
    background: white;
  }

  .login{
    display: none;
  }

  .unlist {
    display: flex;
    gap: 5px;
    margin: auto 0;
    border-radius: 35px;
    padding: 100px 0;
    background: var(--secondary);
    position: absolute;
    flex-direction: column;
    border-radius: 0;
    width: 100%;
    left: 0;
    top: -100%;
    transition: .5s ease;
  }

  .footer{
    padding: 50px;
  }

  .footer-top{
    flex-direction: column;
    gap: 30px;
  }
}
